@media all and (min-width: 480px) {
    .Login {
        margin: 1rem;
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}
.father {
    display: flex;
    justify-content: center;
    align-items: center;
}
.full_height{
    height: 80vh;
}
.roundedBorders {
    background-color: grey;
    border-radius: 40% 15% 40% 15%;
}

